.rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    span {
        margin-right: 5px;
    }
}
[data-testid="now-playing-widget"] [aria-label="Add to playlist"], [data-testid="NPV_Panel_OpenDiv"] [aria-label="Add to playlist"],
[data-testid="now-playing-widget"] [aria-label="Add to Liked Songs"], [data-testid="NPV_Panel_OpenDiv"] [aria-label="Add to Liked Songs"] {
    margin-right: 0px !important;
    position: initial !important;
}

[aria-label="Add to playlist"], [aria-label="Add to Liked Songs"] {
    margin-right: 25px !important;
    position: relative;
    right: 10px;
}


.give-rating > span:hover:before {
    content: "\2605";
    position: absolute;
}

.give-rating, .existing-rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    display: flex;

}
.give-rating > span:hover:before,
.give-rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}

.give-rating > span, .existing-rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}

.rating > span, .give-rating > span, .existing-rating > span {
    font-size: 120% !important;
}

.rating-container {
    color: #3be477;
    position: relative;
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-testid="tracklist-row"]:hover .rating {
    visibility: hidden;
}

[data-testid="tracklist-row"]:hover .existing-rating, .ratings:hover > .give-rating {
    visibility: visible !important;
}

.ratings:hover > .existing-rating {
    visibility: hidden !important;
}

.give-rating, .existing-rating {
    visibility: hidden;
}

.rating-container > div {
    position: absolute;
}

.give-rating span {
    cursor: pointer;
}

.ratings {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ratings > div {
    position: absolute;
}

[data-testid="now-playing-widget"], [data-testid="NPV_Panel_OpenDiv"], :has(> [data-testid="entityTitle"], > [data-testid="adaptiveEntityTitle"]) {
    .rating-container {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: start;
        height: 40px;
        width: 150px;
        gap: 10px;
        font-size: 110%;
    }
    .rating {
        visibility: visible;
        right: 0%;
        font-size: 90%;
        position: inherit;
    }
    .ratings {
        position: initial;
        width: 105px;
        display: flex;
        height: 20px;
    }
    .rating > span {
        display: none;
    }
    .existing-rating {
        visibility: visible;
    }
    .rating-container span {
        font-size: 115% !important;
    }
    div:has(> .rating-container){
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}

[data-testid="NPV_Panel_OpenDiv"] {
    .rating {
        visibility: visible;
        right: 0%;
        font-size: 90%;
    }
    .rating-container {
        font-size: 120%;
        justify-content: start;
        height: 25px;
        gap: 20px;
        margin: -10px 0px;
    }
    .ratings {
        justify-content: start;
    }
    div:has(> .rating-container){
        display: flex;
    }
    div:has(> .rating-container) > div {
        width: 100%;
    }
}

[data-encore-id="card"] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
        min-width: fit-content;
    }

    .rating-container {
        min-width: max-content;
        justify-content: start;
        padding: 5px 0px;
        font-size: 85%;
        height: auto;
    }

    div:has([data-encore-id="cardSubtitle"]){
        height: -webkit-fill-available;
        align-items: start;
    }

    .out-of {
        display: none;
    }
}

[data-testid="now-playing-widget"] {
    .rating-container {
        font-size: 95%;
        height: 20px;
    }
    .ratings {
        justify-content: start;
    }
}

.self {
    .rating span {
        display: block;
    }
    .ratings {
        display: none;
    }
}

[data-testid="top-result-card"] {
    .rating-container {
        height: 20px;
        justify-content: end;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 110%;
    }
    .out-of{
        display: none;
    }
}

.pIM9jg__39NIpOvXG89b {
    gap: 0px !important;
}

[data-testid="add-to-playlist-button"] {
    min-width: fit-content !important;
}

.npv-main-container {
    .rating-container {
        height: 30px;
        max-width: 30px !important;
        font-size: 500%;
        justify-content: start;
    }
    .rating {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
}

.Z35BWOA10YGn5uc9YgAp .rating-container {
    height: 15px;
    font-size: 85%;
    padding: 10px 0px;
    justify-content: start;
    .out-of {
        display: none;
    }
}

[data-testid="tracklist-row"]:has([aria-colindex="4"]), [role="row"]:has([aria-colindex="4"]) {
    [aria-colindex="3"] {
        margin-left: -100px;
        max-width: 100%;
    }
    [aria-colindex="2"] {
        max-width: 75%;
    }
}

[data-testid="tracklist-row"]:has([aria-colindex="5"]), [role="row"]:has([aria-colindex="5"]) {
    [aria-colindex="3"] {
        margin-left: initial;
        max-width: 100%;
    }
    [aria-colindex="2"] {
        max-width: initial;
    }
    @container (width < 900px) {
        [aria-colindex="4"] {
            display: none;
        }
    }
}

[data-testid="tracklist-row"]:has([aria-colindex="6"]), [role="row"]:has([aria-colindex="6"]) {
    [aria-colindex="2"] {
        max-width: 80%;
    }
    [aria-colindex="3"], [aria-colindex="4"], [aria-colindex="5"] {
        margin-left: -50px;
        max-width: 80%;
    }
    @container (width < 900px) {
        [aria-colindex="3"], [aria-colindex="4"], [aria-colindex="5"] {
            max-width: 80%;
            display: flex;
            justify-content: start;
        }
    }
    @container (width < 500px) {
        .rating-container {
            padding-left: 45px;
        }
    }
}

[data-testid="tracklist-row"]:has([aria-colindex="1"]), [role="row"]:has([aria-colindex="1"]) {
    @container (width < 550px) {
        .rating-container {
            .out-of, .ratings {
                display: none;
            }
            .rating {
                visibility: visible !important;
            }
            padding-left: 20px;
        }
        [aria-colindex="2"] {
            width: 80%;
        }
    }
}

[data-testid="tracklist-row"]:has([aria-colindex="5"]), [role="row"]:has([aria-colindex="5"]) {
    @container (width < 800px) {
        [aria-colindex="3"] {
            width: 50%;
        }
        [aria-colindex="2"] {
            max-width: 80%;
        }
    }
}

[aria-label="Spotify – Search"], [aria-label="Top tracks this month"] {
    @container (width < 750px) {
        [aria-colindex="3"] {
            padding-left: 50px;
        }
    }
}

[data-testid="recommended-track"] {
    @container (width < 800px) {
        [aria-colindex="2"] {
            width: 50% !important;
        }
        [aria-colindex="1"] {
            width: 80%;
        }
    }
}

[data-testid="search-tracks-result"]{
    [aria-colindex="1"] {
        max-width: 75%;
    }
}

[aria-label="Duration"] {
    margin-right: 30px !important;
}

[data-testid="more-button"] {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

[data-encore-id="box"] .rating-container {
    width: 100px;
    justify-content: end;
    min-height: 40px;
    font-size: 110%;
    min-width: initial;

    .out-of {
        display: none;
    }
}